@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9% 0 0);
  --color-primary: oklch(9% 0 0);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96% 0 0);
  --color-secondary-foreground: oklch(9% 0 0);
  --color-muted: oklch(96% 0 0);
  --color-muted-foreground: oklch(45% 0 0);
  --color-accent: oklch(96% 0 0);
  --color-accent-foreground: oklch(9% 0 0);
  --color-destructive: oklch(62.8% 0.25768330773615683 29.2338851923426);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-input: oklch(89.8% 0 0);
  --color-ring: oklch(9% 0 0);
  --color-chart-1: oklch(70% 0.25 29);
  --color-chart-2: oklch(80% 0.25 196);
  --color-chart-3: oklch(76% 0.25 83);
  --color-chart-4: oklch(71% 0.25 305);
  --color-chart-5: oklch(83% 0.25 42);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(4% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(4% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(4% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(9% 0 0);
    --color-secondary: oklch(14.5% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);
    --color-muted: oklch(14.5% 0 0);
    --color-muted-foreground: oklch(63.9% 0 0);
    --color-accent: oklch(14.5% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(62.8% 0.25768330773615683 29.2338851923426);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(14.5% 0 0);
    --color-input: oklch(14.5% 0 0);
    --color-ring: oklch(83.1% 0 0);
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-feature-settings: "rlig" 1, "calt" 1;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}